@import 'theme/variables';


.scrollable {
    tbody{
        height:200px;
        overflow-y:auto;
        width: 100%;
        }
}

/** Fixed header and scollable body table **/
.transaction-scollable{
            height:200px !important;
            overflow-y:auto;
            width: 100%;
            margin-bottom: 8px !important;
            
            table{
                margin-bottom: 8px !important;
            }

            tbody{
                height:320px !important;
                overflow-y:auto;
                width: 100%;
                display: block;
            }
            thead{
                display: block;
                position: relative;
            }
}




// html,
// body {
//   -webkit-overflow-scrolling: touch;
//   height: 100%;
//   box-sizing: border-box;
// }

// body {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0 0.8em;
//   font-family: $font-default;
//   font-size: 16px;
// }

// @media only screen and (min-width: 48em) {
//   body {
//     padding: 0 3em;
//   }
// }

// :global(#root) {
//   height: 100%;
// }

// *, *:before, *:after {
//   box-sizing: inherit;
// }
